html,
body {
  height: 100%;
  font-size: $font-size-root;
}
body {
  font-family: $font-open-sans;
  color: $paragraph-text;
  line-height: $line-height;
  font-weight: $weight-regular;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: 0 solid;
  color: $primary-color;
}