@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i');

// Font Family
$font-family: 'Montserrat', sans-serif;

// Font Weight
$weight-light:        300;
$weight-regular:      400;
$weight-medium:       500;
$weight-semi-bold:    600;
$weight-bold:         700;
$weight-extra-bold:   800;

// Font Style
$style-font: italic;

// Font Size
$font-size-root:				16px !default;
$font-size-base:				1 !default;

$font-size-h1:       		    2.4375em !default;
$font-size-h2:       		    1.8125em !default;
$font-size-h3:       		    1.4375em !default;
$font-size-h4:       		    1.375em !default;
$font-size-h5:       		    1.125em !default;
$font-size-h6:       		    1em !default;

// Line Height
$line-height:					1.78125;

$line-height-h1:				1.2 !default;
$line-height-h2:				1.3 !default;
$line-height-h3:				1.4 !default;
$line-height-h4:				1.5 !default;
$line-height-h5:				1.6 !default;
$line-height-h6:				1.7 !default;