.card {
  &.no-border {
    border: none;
    border-radius: 0;

    .card-img {
      border-radius: 0;
    }
  }

  &.card-sponsor {
    padding: 0.5rem 0.8rem;

    &.small {
      @media (max-width: 380px) {
        height: 5rem;

        img {
          max-height: 3.5rem;
          max-width: 7rem;
        }
      }

      @media (min-width: 381px) and (max-width: 499px) {
        height: 7rem;

        img {
          max-height: 3.5rem;
          max-width: 7rem;
        }
      }

      @media (min-width: 500px) {
        height: 9rem;

        img {
          max-height: 5rem;
          max-width: 12rem;
        }
      }

      @include media-breakpoint-up(sm) {
        height: 6rem;

        img {
          max-height: 5rem;
          max-width: 7rem;
        }
      }

      @include media-breakpoint-up(md) {
        height: 8rem;

        img {
          max-height: 5rem;
          max-width: 10rem;
        }
      }

      @include media-breakpoint-up(lg) {
        height: 8rem;

        img {
          max-height: 5rem;
          max-width: 10rem;
        }
      }

      @include media-breakpoint-up(xl) {
        height: 8.5rem;

        img {
          max-height: 6rem;
          max-width: 10rem;
        }
      }

      @include media-breakpoint-up(xxl) {
        height: 11rem;

        img {
          max-height: 8rem;
          max-width: 14rem;
        }
      }
    }

    &.big {
      @media (max-width: 380px) {
        height: 5rem;

        img {
          max-height: 3.5rem;
          max-width: 7rem;
        }
      }

      @media (min-width: 381px) and (max-width: 499px) {
        height: 7rem;

        img {
          max-height: 3.5rem;
          max-width: 7rem;
        }
      }
      
      @media (min-width: 500px) {
        height: 9rem;

        img {
          max-height: 5rem;
          max-width: 12rem;
        }
      }

      @include media-breakpoint-up(sm) {
        height: 9rem;

        img {
          max-height: 5rem;
          max-width: 12rem;
        }
      }

      @include media-breakpoint-up(md) {
        height: 10rem;

        img {
          max-height: 6rem;
          max-width: 15rem;
        }
      }

      @include media-breakpoint-up(lg) {
        height: 10rem;

        img {
          max-height: 6rem;
          max-width: 15rem;
        }
      }

      @include media-breakpoint-up(xl) {
        height: 14rem;

        img {
          max-height: 7rem;
          max-width: 17rem;
        }
      }

      @include media-breakpoint-up(xxl) {
        height: 14rem;

        img {
          max-height: 9rem;
          max-width: 21rem;
        }
      }
    }
  }
}
