.event-list {
  .event-item {
    display: block;
    background: $white;
    margin-bottom: 2rem;
    @include border-radius(0.3125rem);
    @include box-shadow(0 0 1.5rem 0 rgba($black, 0.2));

    .event-item-image {
      img {
        @include border-radius(0.3125rem 0.3125rem 0 0);

        @include media-breakpoint-up(sm) {
          @include border-radius(0.3125rem 0 0 0.3125rem);
        }

        @include media-breakpoint-up(lg) {
          @include border-radius(0.3125rem 0 0.3125rem 0);
        }

        @include media-breakpoint-up(xl) {
          @include border-radius(0.3125rem 0 0 0.3125rem);
        }
      }
    }

    .event-item-content {
      padding: 0.875rem 1rem;

      hr {
        margin-top: 0.3rem;
        margin-bottom: 0.9rem;
        border-top: 1px solid rgba($black, 0.2);
      }
    }
  }
}

.section-single-event {
  .single-event-table {
    .table-header {
      background: $primary;
      border-radius: 0.3125rem 0.3125rem 0 0;
      padding: 0.75rem 1.5rem;

      h4 {
        color: $white;
        font-size: 1.125rem;
        font-weight: $font-weight-medium;
      }
    }

    .table-row {
      padding: 0.75rem 0 0.75rem 1.5rem;

      &:nth-of-type(even) {
        background: $white;
      }

      &:nth-of-type(odd) {
        background: rgba($primary, 0.15);
      }

      &:last-child {
        border-radius: 0 0 0.3125rem 0.3125rem;
      }

      .time,
      .subject {
        color: $primary;
        font-weight: $font-weight-medium;
        font-size: 1rem;
        margin-bottom: 0;
      }
    }
  }

  .event-slider {
    .slidecontrol {
      position: absolute;
      background: rgba($white, 0.8);
      padding: 1.5rem 1rem;
      top: 33%;
      z-index: 1;

      &.prev {
        left: 0 !important;
        border-top-right-radius: 0.3125rem !important;
        border-bottom-right-radius: 0.3125rem !important;
      }

      &.next {
        right: 0 !important;
        border-top-left-radius: 0.3125rem !important;
        border-bottom-left-radius: 0.3125rem !important;
      }

      i {
        font-size: 1.5rem;
        color: $black;
      }
    }
  }
}

.section-events-list {
  .event-item {
    background: $white;
    box-shadow: 0 0 0.625rem 0 rgba($black, 0.2);
    border-radius: 0.3125rem;
    margin-bottom: 1.875rem;

    .event-item-content {
      padding: 1rem 1.3rem 1.3rem 1rem;

      @include media-breakpoint-up(md) {
        padding: 1.25rem 1.5rem 1.25rem 1.5rem;
      }

      @include media-breakpoint-up(lg) {
        padding-left: 0;
      }

      p {
        &.date {
          font-size: 0.875rem;
          color: $black;

          i {
            font-size: 1rem;
            color: $orange;
          }
        }
      }

      .h4 {
        display: block;
        color: $primary-dark;
        font-size: 1.2rem;
        font-weight: $font-weight-semi-bold;
        line-height: 1.75rem;

        @include media-breakpoint-up(md) {
          font-size: 1.625rem;
          line-height: 2.25rem;
        }

        &:hover,
        &:focus {
          text-decoration: none;
          color: $black;
        }
      }
    }
  }
}