.section-featured-news {
  .card {
    border-radius: 0.3125rem;
    color: $white;
    border: none;

    .card-img {
      border-radius: 0.3125rem;
      width: 100%;
      object-fit: cover;
      height: 56vw;

      @include media-breakpoint-up(sm) {
        height: 21.5vw;
      }

      @include media-breakpoint-up(md) {
        height: 23.5vw;
      }

      @include media-breakpoint-up(lg) {
        height: 13.5vw;
      }

      @include media-breakpoint-up(xxl) {
        height: 10.2vw;
      }
    }

    .card-img-overlay {
      top: 0;
      border-radius: 0.3125rem;
      background-image: linear-gradient(to bottom, rgba($black, 0), rgba($black, 0.8));

      @include media-breakpoint-up(xl) {
        top: 20%;
      }

      @include media-breakpoint-up(xxl) {
        top: 30%;
      }

      .card-title {
        margin-bottom: 0;
        font-weight: $font-weight-normal;
        font-size: 1rem;

        @include media-breakpoint-up(lg) {
          font-size: 1.25rem;
        }
      }
    }
  }
}
