.header {
  .topbar {
    padding: 0.45rem 0;

    p,
    ul {
      font-size: 0.875rem;
      color: $primary;
      font-weight: $font-weight-normal;

      li {
        &.menu-item {
          display: inline-block;
          margin-right: 0.5rem;
        }

        a {
          color: $black;
        }
      }
    }
  }

  .nav-wrapper {
    min-height: 5.5rem;

    @include media-breakpoint-up(xl) {
      min-height: 7.5rem;
    }

    .nav-container {
      background: $primary;
      color: $white;
      z-index: 18;
      padding: 0;

      @include media-breakpoint-up(xl) {
        padding: 0.5rem 0;
      }

      .navbar {
        .navbar-brand-bg {
          position: absolute;
          background: #fff;
          top: 0;
          margin-left: -2.2rem;
          z-index: 1;
          transition: all 0.3s ease-out;
          width: 8.5rem;
          height: 5.6rem;

          @include media-breakpoint-up(xl) {
            top: -0.5rem;
            width: 10.4rem;
            height: 8.25rem;
          }

          &::before,
          &::after {
            content: " ";
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
          }

          &::before {
            background: $primary;
            transform-origin: bottom left;
            -ms-transform: skew(0deg, 0deg);
            -webkit-transform: skew(0deg, 0deg);
            transform: skew(0deg, 0deg);
          }

          &::after {
            background: $white;
            transform-origin: bottom left;
            -ms-transform: skew(-10deg, 0deg);
            -webkit-transform: skew(-10deg, 0deg);
            transform: skew(-10deg, 0deg);
          }
        }

        .navbar-brand {
          z-index: 2;
          transition: all 0.3s ease-out;
          margin-right: 0;

          @include media-breakpoint-up(xl) {
            margin-right: 3.45rem;
          }

          img {
            &.logo {
              transition: all 0.3s ease-out;
              height: 4rem;

              @include media-breakpoint-up(xl) {
                height: 5.625rem;
              }
            }
          }
        }

        .navbar-toggler {
          background: $primary-dark;
          color: $white;
          padding: 0.5rem;
          font-size: 1rem;

          @include media-breakpoint-up(xl) {
            padding: 0.75rem;
            font-size: 1.25rem;
          }
        }

        .navbar-nav {
          .menu-item {
            margin-right: 1.875rem;

            &:last-child {
              margin-right: 0;
            }

            a {
              color: #fff;
              font-size: 1.125rem;

              &:hover,
              &:focus {
                text-decoration: none;
              }

              &.nav-link {
                padding: 0;
              }
            }
          }

          .menu-item-has-children {
            .dropdown-menu {
              top: 97% !important;

              a {
                text-shadow: none;
                padding: 0.5rem 1rem;
                color: $black;
                font-size: 0.875rem;

                &.active {
                  color: $white;
                }
              }

              &.show {
                top: 97% !important;
              }
            }

            &:hover {
              .dropdown-menu {
                display: block;
              }
            }
          }
        }

        .navbar-more {
          font-size: 1.125rem;
          color: $black;
          background: $white;
          border: 0;
          padding: 0.55rem 1rem;
          border-radius: 0.25rem;

          i {
            font-size: 1.4rem;
            color: $black;
            vertical-align: middle;
          }
        }

        ul {
          &.social-links-header {
            li {
              &:first-child {
                margin-right: 0.5rem;
              }
            }
          }
        }
        .social-header-icon {
          display: block;
          border: 0.1875rem solid $white;
          border-radius: 0.25rem;
          color: #fff;
          width: 2.8125rem;
          height: 2.8125rem;
          font-size: 1.4rem;
          text-align: center;

          i {
            vertical-align: middle;
          }

          &:hover,
          &:focus {
            color: $primary-dark;
            border-color: $primary-dark;
            transition: ease 0.3s;

            i {
              color: $primary-dark;
            }
          }
        }
      }
    }
  }
}
