.topheader {
  position: relative;
  background: #f1f1f1;
  padding: 10px 0;

  ul {
    li {
      font-size: 0.85em;
      color: #1a1a1a;

      i {
        margin-right: 5px;
        color: $primary-color;
      }
    }
  }
}

.header {
  background: #fff;
  padding: 15px 0;

  .logo {
    display: block;
    width: 130px;

    @media (max-width: 767px) {
      margin: 0 auto;
    }
  }

  #custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 4px;
    background-color: #fff;
    margin-top: 45px;

    input {
      border: 0;
      box-shadow: none;
    }

    button {
      margin: 2px 0 0 0;
      background: none;
      box-shadow: none;
      border: 0;
      color: #666666;
      padding: 0 8px 0 10px;
      border-left: solid 1px #ccc;

      &:hover {
        border: 0;
        box-shadow: none;
        border-left: solid 1px #ccc;
      }
    }

    .glyphicon-search{
      font-size: 1em;
    }
  }

  .socialmedia {
    margin-left: -20px;

    i {
      color: $primary-color;
      font-size: 1.5em;

      @media (min-width: 1200px) {
        font-size: 2.15em;
      }
    }
  }
}