.section-single-post {
  padding: 4.375rem 0;

  .post-image {
    border-radius: 0.3125rem;
    margin-bottom: 2rem;

    img {
      border-radius: 0.3125rem;
    }
  }

  .post-meta {
    margin-bottom: 1.75rem;
    font-size: 0.875rem;
  }
}
