.section-featured-news {
  .container {
    @include media-breakpoint-down(sm) {
      width: 100%;
      max-width: 100%;
    }

    .nav-pills {
      padding-bottom: 1rem;

      .nav-item {
        margin-right: 1rem;

        @media (max-width: 551px) {
          &:first-child {
            margin-bottom: 0.5rem;
          }
        }

        &:last-child {
          margin-right: 0;
        }

        .nav-link {
          color: $black;
          border: none;
          background: rgba($black, 0.1);

          &.active {
            color: $white;
            background: $primary;
            border: none;
          }
        }
      }
    }

    .tab-content {
      overflow-y: scroll;

      .tab-pane {
        .table-responsive {
          .table {
            font-size: 0.85rem;

            td {
              padding: 0.5rem 0.75rem;
            }

            thead {
              th {
                border-top: none;
                padding: 0.5rem 0.75rem;
                border-bottom: none;
              }
            }
          }
        }

        &.results,
        &.program {
          overflow-y: scroll;

          @include media-breakpoint-down(sm) {
            max-height: 400px;
          }

          @include media-breakpoint-only(md) {
            max-height: 480px;
          }

          @include media-breakpoint-only(lg) {
            max-height: 775px;
          }

          @include media-breakpoint-up(xl) {
            max-height: 685px;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    &.bg-news-home-light {
      background: $bg-dark-light !important;
    }
  }
}
