.section-about-wvb {
  @include media-breakpoint-up(lg) {
    .about-image {
      -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    }
  }
}

.section-teams,
.section-commissies,
.section-persons {
  .card {
    border: none;

    .card-img-overlay {
      top: 0;
      border-radius: 0.3125rem;
      background-image: linear-gradient(to bottom, rgba($black, 0), rgba($black, 0.8));

      @include media-breakpoint-up(xl) {
        top: 20%;
      }

      @include media-breakpoint-up(xxl) {
        top: 30%;
      }
    }
  }
}

.section-boysconnected {
  .container {
    @include media-breakpoint-down(md) {
      max-width: 100%;
    }

    @media (max-width: 575px) {
      img {
        max-width: 60%;
      }
    }
  }

  &.bg-bc-grey {
    background: $bg-dark-light !important;

    @include media-breakpoint-down(md) {
      background: $white !important;
    }
  }
}
